<h1>Please login!</h1>

<form action="/login" method="post">
<p>Username: <input type="text" name="username" placeholder="username"></p>
<p>Password: <input type="password" name="password" placeholder="password"></p>
<input type="submit" value="Login" id='submit'>
</form>
<br>
<form action="/restaurants" method="get">
  <input type="submit" value="Main Menu" id="menu">
</form>
