<h1>Save a new restaurant to your list:</h1>

<h3>Restuarant</h3>
<form action="/restaurants" method="post">
  <p>Name: <input type="text" name="restaurant[name]" id="name"></p>
  <p>Cuisine: <input type="text" name="cuisine[name]" id="cuisine"></p>
  <p>Neighborhood: <input type="text" name="neighborhood[name]" id="neighborhood"></p><br>
  <input type="submit" id="submit" value="Submit">
</form>
<br>
<form action="/restaurants" method="get">
  <input type="submit" value="Main Menu" id="menu">
</form>
