<h1>Hey, <%= @user.username %>! Can't remember where you want to eat?</h1>

<h2>You can search for a restaurant a few different ways....</h2>

<h4><a href="/all">View all restaurants users have saved</a><br>

<h4><a href="/by_cuisine">Search all users' restaurants by cuisine</a><br>
<h4><a href="/by_neighborhood">Search all users' restaurants by neighborhood</a><br>
  <br>
<h4><a href="/users/:slug">View all restaurants you have already saved!</a><br>
<br>
<form action="/logout" method="post">
   <input type="submit" value="Log Out" id="logout">
</form>
