<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Your One Stop Shop for Picking a Restaurant in Seattle</h2>

    <div class="content">
      <p>You know when someone asks where you want to eat, and your mind goes completely blank? Well here's a
        quick and easy way to store restaurants you want to try later, remember restaurants that you've loved,
        and search restaurant's that other users have tried and aproved!</p>
    <br>
    <a href="/signup">Sign-up</a>
    <br>
    <a href="/login">Login</a></div>

  </div>
</div>


<!-- Welcome to the Sinatra Template! If you're seeing this page, then everything is working
as expected. To get started, delete this file (<code>app/views/welcome.erb)</code> and begin adding
your own actions to <code>application_controller.rb</code>. For more information, see the <a href="https://github.com/thebrianemory/corneal">README</a> -->
