<!DOCTYPE html>
<html>
<body>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Seattle Restaurant Rememberall</h2>

    <div class="content">
      <p>You know when someone asks where you want to eat, and your mind goes completely blank? Well here's a
        quick and easy way to store restaurants you want to try later, or search restaurants that other users have saved!</p>
        <br>

        <% if logged_in? %>
          <form action="/restaurants" method="get">
            <p>To find a restaurant, visit the <input type="submit" value="Main Menu" id="menu"></p>
          </form>
          <form action="/logout" method="post">
            <input type="submit" value="Log Out" id="logout">
          </form><br>
        <% else %>
        <form action="/login" method="get">
          <p>If you've got an account <input type="submit" value="Log In" id="login"></p>
        </form>
        <form action="/signup" method="get">
          <p>Or <input type="submit" value="Sign Up" id="signup"></p>
        </form><br>
        <% end %>

    </div>
  </div>
